<div class='row quotes'>
  <% @texts.each do |text| %>
    <div class='large-4 columns'>
      <%= render partial: '/texts/text', object: text %>
    </div>
  <% end %>
</div>

<div class='row sounds'>
  <% @sounds.each do |sound| %>
    <div class='large-4 columns'>
      <%= render partial: './sounds/sound', object: sound  %>
    </div>
  <% end %>
</div>

<div class='row arts'>
  <% @arts.each do |art| %>
    <div class='large-4 columns'>
      <%= render partial: './arts/art', object: art %>
    </div>
  <% end %>
</div>
