@import 'settings';

.texts .panel {
  margin: 5px;
  font-style: italic;
}

.button-group {
  padding-top: 10px;
  text-align: right;
}

.song-index {
  margin: auto;
  width: 100%;
  text-align: center;
}

.song-index li{
  list-style-type: none;
}

.song-title {
  margin-left: 0px;
  padding-top: 5px;
  font-style: italic;

}

.song-title a {
  margin-right: 20px;
  font-size: 24px;
  color: $primary-color;
}
