@import 'settings';

.texts .panel {
  margin: 5px;
  font-style: italic;
}

.button-group {
  padding-top: 10px;
  text-align: right;
}

.song-index {
  margin: auto;
  text-align: center;
  width: 100%;
}

.song-title {
  color: $primary-color;
  font-size: 24px;
  font-style: italic;
  margin-left: 0;
  margin-right: 20px;
  padding-top: 5px;
  list-style-type: none;
}
